<ion-view view-title="Login">
  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.pass">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="login(user)">
          Sign-In
        </button>
      </div>
      {{msg}}
  </ion-content>
</ion-view>
