<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
    <div data-ng-controller="AccountCtrl">
      <h1><b>{{name}}</b></h1>
      <div class="member-since">
        <h5>Member since: {{created}}</h5>
      </div>
    </div>
  </ion-content>
</ion-view>
